html,body,p,div,h1,h2,h3,ul,li,button{
    margin: 0px;
    padding: 0px;
}
html, body{
    color: rgba(33, 37, 41, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    z-index: 1;
}

.header{
    background-color: #6199ff;
    overflow: hidden;
}
.header .navbar{
    overflow: hidden;
    float: left;
}
.header .menu{
    overflow: hidden;
    float: right;
    width: 200px;
}
.header ul li{
    list-style-type: none;
}
.header .navbar li a{
    float: left;
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px ;
}
.header .navbar li a:hover{
    background-color: #ffffff;
    color: #6199ff;
}

.header .menu li a{
    float: right;
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px ;
}
.header .menu li a:hover{
    background-color: #ffffff;
    color: #6199ff;
}
.header .menu li img{
    float: right;
    display: block;
    width: 36px;
    height: 36px;
}

.content{
    position: relative;
    z-index: 1;
}

.preloader{
    display: none;
}

.preloader .preloader-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity: .5;
    z-index: 1000;
    display: block;
}

.preloader .preloader-box{
    position: fixed;
    top: 20%;
    left: 50%;
    /* transform:translateX(-50%); */
    transform:translate(-50%,-80%);
    background-color: #6199ff;
    margin: 100px auto;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 2px 2px #666666;
    border-top: 1px solid rgba(256, 256, 256, .5);
    border-left: 1px solid rgba(256, 256, 256, .5);
}
.preloader p{
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;
}

.preloader svg{
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display:block;
}